@page "/CreateSubForum"
@using HttpClients.ClientInterfaces
@using System.Security.Claims
@inject ISubForumService subForumService
@inject IAuthService authService
@inject NavigationManager navMgr
@attribute [Authorize]

<div class="p-4 bg-slate-200 rounded-xl space-y-4 w-80">
    <h3 class="text-2xl">Create sub forum</h3>
    <div class="space-y-2">
        <div class="flex items-center justify-between">
            <label class="text-slate-800">Name:</label>
            <input class="rounded-md bg-slate-100 px-2 py-1" type="text" @bind="name"/>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(errorLabel))
    {
        <p class="text-red-500">
            @errorLabel
        </p>
    }

    <button class="px-4 py-2 bg-blue-500 text-blue-100 rounded-xl hover:bg-blue-400" @onclick="Create">Create</button>
</div>

@code {
    private string name;
    private string errorLabel;

    private async Task Create()
    {
        try
        {
            ClaimsPrincipal context = await authService.GetAuthAsync();
            var claims = context.Identities.First().Claims.ToList();
            string? id = claims?.FirstOrDefault(x => x.Type.Equals("Id", StringComparison.OrdinalIgnoreCase))?.Value;
            await subForumService.CreateAsync(name, int.Parse(id));
            navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }

}