@page "/"
@using Domain
@using HttpClients.ClientInterfaces
@inject ISubFormService subFormService
@inject NavigationManager navMgr

<PageTitle>Index</PageTitle>

<div class="space-y-8">
    <h1 class="text-5xl text-blue-500 focus:outline-none">Sub Forms</h1>

    @if (subForums == null)
    {
        <p class="text-slate-500">Loading...</p>
    }
    else if (!subForums.Any())
    {
        <p class="text-slate-500">There is no sub forms!</p>
    }
    else
    {
        <ol>
            @foreach (SubForum subForm in subForums)
            {
                <p @onclick="@(() => navMgr.NavigateTo("/SubForm/?Type="+subForm.Type))" class="text-slate-900 hover:text-blue-500 cursor-pointer">r/@subForm.Type <span class="text-slate-600 text-sm">, created by: [@subForm.CreatedBy.UserName]</span></p>
            }
        </ol>
    }
</div>

@code {
    public IEnumerable<SubForum>? subForums;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            subForums = await subFormService.GetAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

}