@page "/SubForm"
@using HttpClients.ClientInterfaces
@using Domain
@using UIComponents
@inject IPostService postService
@inject NavigationManager navMgr

<div class="space-y-8 pb-20">
    <h1 class="text-5xl text-blue-500 focus:outline-none">r/@Type Posts</h1>

    @if (posts == null)
    {
        <p class="text-slate-500">Loading...</p>
    }
    else if (!posts.Any())
    {
        <p class="text-slate-500">There is no posts!</p>
    }
    else
    {
        <ol class="space-y-4">
            @foreach (var post in posts)
            {
                <PostCard Post="@post"/>
            }
        </ol>
    }
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string? Type { get; set; }
    
    private IEnumerable<Post>? posts;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            posts = await postService.GetAsync(Type);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
}