<header class="w-full">
    <nav class="w-full flex align-center justify-between text-slate-600 list-none pt-8 pb-20">
        <li>
            <NavLink ActiveClass="text-slate-900 font-bold" class="hover:text-blue-500" href="/">Home</NavLink>
        </li>
        <li>
            <NavLink ActiveClass="text-slate-900 font-bold" class="hover:text-blue-500 " href="LogInOut">Log in/out</NavLink>
        </li>
        <li>
            <NavLink ActiveClass="text-slate-900 font-bold" class="hover:text-blue-500" href="Register">Register</NavLink>
        </li>
        <li>
            <NavLink ActiveClass="text-slate-900 font-bold" class="hover:text-blue-500" href="CreatePost">Create Post</NavLink>
        </li>
        <li>
            <NavLink ActiveClass="text-slate-900 font-bold" class="hover:text-blue-500" href="CreateSubForm">Create Sub Form</NavLink>
        </li>
    </nav>
</header>

@code {

}